{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Movimentação
{% endblock %}

{% block script %}
    <script>
            $(document).ready(function()
            {
                var $id_produto = $('#id_produto');

                    $("#id_produto").select2({
                        theme: 'bootstrap-5',
                        width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
                        placeholder: $( this ).data( 'placeholder' ),
                    });
            });


    </script>
{% endblock %}


{% block content %}



    <div class="container">

        <div class="card">
            <div class="card-body">
                <h4>Adicionar Movimentação</h4>
                <hr>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-success" type="submit">Salvar</button>
                    <a class="btn btn-danger" href="{% url 'movimentacoes:movimentacao_lista' %}">Cancelar</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}